//ş
body {
    padding: $font-size-base / 2 $font-size-base $font-size-base;
    width: 560 + $font-size-base * 2;
    -ms-overflow-style: scrollbar; // https://stackoverflow.com/a/19706857/1396155
}

.task-checkbox {
    display: inline-block;
    margin-right: 3px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #ff8a80;
    color: #fff;
    font-size: ceil($font-size-base * .85);

    del > & {
        background-color: #bdbdbd;
    }

    &--checked {
        background-color: #4caf50;
    }

    &-sign--invisible {
        visibility: hidden;
    }
}

code {
    padding: 1px 5px;
    font-size: 95%;

    pre > & {
        padding-bottom: 0;
    }
}

pre {
  font-size: $font-size-base;
}
