//ş
$brand-primary: darken(#428bca, 6.5%); // $brand-bsprimary;
$body-bg: #fff;
$headings-font-weight: 700;
$headings-color: #921407;
$font-size-base: 14px;
$font-family-monospace: 'Fira Code';

$font-size-h1: floor(($font-size-base * 2));
$font-size-h2: floor(($font-size-base * 1.75));
$font-size-h3: ceil(($font-size-base * 1.5));
$font-size-h4: ceil(($font-size-base * 1.25));
$font-size-h5: ceil(($font-size-base * 1.1));
$font-size-h6: $font-size-base;

$screen-xl: 13px;
$screen-lg: 10px;
$screen-md: 7px;
$screen-sm: 4px;
$screen-xs: 1px;
